name: Gba Build

on:
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build-ios:
    runs-on: macos-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Setup Flutter
        uses: subosito/flutter-action@v2
        with:
          channel: stable

      - name: Install dependencies
        run: flutter pub get

      - name: Build iOS (no signing)
        run: flutter build ipa --no-codesign

      - name: Upload IPA
        uses: actions/upload-artifact@v3
        with:
          name: app-ipa
          path: build/ios/ipa/*.ipa
